# Build directories
build/
build-*/
out/
cmake-build-*/

# Runtime output
logs/
saves/

# Visual Studio
.vs/
*.user
*.suo
*.vcxproj.user

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Dependencies
external/glfw/
external/imgui/

# Compiled shaders
*.spv

# IDE
.vscode/
.idea/

# Game data files
*.dat
game.dat
